@model Project1_Mark.Models.CustomerViewModel
@{
    ViewData["Title"] = "SearchOrOrder";
}

<h1>SearchOrOrder</h1>

@Model.CustID

<h5>Welcome back, @Model.CustomerFirstName @Model.CustomerLastName!</h5>
<br>
Are you ready to shop?

<br>
Or would you rather do some searches?
