@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<form method="GET" asp-action="Login" asp-controller="Login" class="nav-link text-dark">
    <h3>Are you a returning user?</h3>
    First Name:
    <input type="text" name="CustomerFirstName" required minlength="2" maxlength="20" pattern="[A-Za-z]">
    Last Name:
    <input type="text" name="CustomerLastname" required minlength="2" maxlength="20" pattern="[A-Za-z]">
    <input type="submit" value="Enter">
</form>
<br />
<br />
<br />
<br />
<br />
<form method="GET" asp-action="Register" asp-controller="Login" class="nav-link text-dark">
    <h3>Do you need to Register?</h3>

    First Name:
    <input type="text" name="CustomerFirstName" required minlength="2" maxlength="20" pattern="[A-Za-z]">
    Last Name:
    <input type="text" name="CustomerLastname" required minlength="2" maxlength="20" pattern="[A-Za-z]">
    <input type="submit" value="Enter">
</form>

