@model DbLibrary.ViewInventoryViewModels

@{
    ViewData["Title"] = "Inventory";
}

<h2>Please choose your desired quantity from the available products below.</h2>

@*<table class="table">
    <thead>
        <tr>
            <th>
                Product ID
            </th>
            <th>
                Location Name
            </th>
            <th>
                Product Price
            </th>
            <th>
                Quantity Desired.
            </th>
        </tr>
    </thead>

</table>*@

<form method="POST" asp-action="AddProducts" asp-controller="Order" class="nav-link text-dark">
    @foreach (var item in Model.InventoriesAll)
    {
        <br><br>
        <div>
            <span>@item.ProductName</span>
            <div>
                <select name="@item.ProductName">
                    @for (int i = 0; i <= item.ProductQuantity; i++)
                    {
                        <option value=@i>@i</option>
                        <br>
                    }
                </select>
            </div>
        </div>
    }
    <input type="submit" value="Submit">
</form>


    @*<input type="text" list="products" name="products">
    <select id="ProductName">
        @for (int i = 0; i < Model.Count; i++)
        {
            <option value=@Model[i].LocationName>@Model[i].LocationName</option>
        }
    </select>
    <input type="submit" value="confirm">*@


        @*public int InventoryId { get; set; }
        public int ProductId { get; set; }
        public string LocationName { get; set; }
        public decimal? ProductPrice { get; set; }
        public int ProductQuantity { get; set; }
        public DateTime DateModified { get; set; }*@